# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
# *.py[cod]
*.so
*.egg
*.egg-info
*.ipynb
dist
idea
build

# My configurations:
.idea
.idea/*
.ipynb_checkpoints
.ipynb_checkpoints/*
__pycache__
__pycache__/*
db.ini
deploy_key_rsa

# secret
/dst/doc_tkn
/dst/doc_tkn/*
/dst/doc_xpt
/dst/doc_xpt/*
/src/prg_nit.py
/src/prg_prm.py
